/* Write your CSS here */
/* .timeline-view-container{

} */
.my-journey-heading {
  color: #1e293b;
  font-family: 'roboto';
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}
.ccbp-heading {
  color: #171f46;
  font-family: 'roboto';
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}
